.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.header-left {
  display: flex;
  gap: 20px;
}

.header-right {
  display: flex;
  align-items: center;
}

.enabled-link {
  color: black;
  text-decoration: none;

}

.disabled-link {
  color: lightgrey;
  text-decoration: none;
}

.wallet-button {
  background-color: #6c5dd3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.wallet-address {
  font-size: 16px;
  font-weight: bold;
}

.btn-text{
  font-size: 16px;
  font-weight: bold;
}
