.token-pair-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 397px;
    height: 188px;
    background-color: white;
    border-radius: 5px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    box-shadow: 0px 20px 24px -10px #110C221A;
    top: 149px;
    left: 500px;
  }
  
  .token-pair-selector label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .dropdowns {
    width: 342px;
    height: 50px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-button {
    bottom: 0px;
    background-color: #7357FF;
    width: 357px;
    height: 48px;
    color: white;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    opacity: 0px;
    box-shadow: 0px 1px 2px -1px #110C2214;
    cursor: pointer;
  }

  .sub-title{
    margin-right: 200px;
  }

  .btn-text-search{
    font-size: 16px;
    font-weight: bold;
  }
  