.home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #F8F8F8;  
    
  }
  
  .home-content {
    text-align: left;
  }
  .little-title{
    text-align: left;
  }
  
  .middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;  
  }