.percent{
    font-size: 22px;
    font-weight: bold;
}

.duration{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 8px;
    color: gray;
}

.bottom-pool{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.term-button {
    border: 2px solid transparent;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: border 0.3s;

  }
  .btn-terms-content{
    display: flex;
    flex-direction: row;
  }
  .name-tk{
    font-size: 11px;
    margin-top: 10px;
  }
  .terms{
    width: 260px;
    margin: auto;
  }
  
  .term-button.active {
    border: 2px solid #7357FF;
  }
  
  .term-button:hover {
    border: 2px solid #cccccc;
  }
.btn-term{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.x{
  width: 30%;
  align-self: flex-start;
  justify-self: center;
}