.second-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
}

.form-container {
  margin-top: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 330px;
  text-align: center;
}

.title {
  font-size: 18px;
  text-align: left;
}

.sub-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.pool-terms {
  margin-bottom: 20px;
}

.terms {
  display: flex;
  justify-content: space-between;
}

.term-button {
  width: 90px;
  height: 90px;
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.term-button.active,
.term-button:hover {
  background-color: #f0f0f0;
}

.deposit-amounts {
  margin-bottom: 20px;
}

.amount-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.amount-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.add-liquidity-button {
  background-color: #7357FF;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  height: 50px;
}

.add-liquidity-button:hover {
  background-color: #5946c1;
}
  
.amount-input-container {
  display: flex;
  align-items: center;
}

.selected-token {
  margin-left: 10px;
  font-weight: bold;
}
